    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: #eaeaea;
    }
    
    .header-nav {
        position: fixed;
        top: 0;
        z-index: 3;
    }
    
    .header-nav-mobile {
        display: none;
        height: 50px;
        width: 100vw;
        max-width: 100%;
        position: relative;
    }
    
    .header-nav-mobile button {
        position: absolute;
        right: 50px;
        top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .header-nav-mobile button span {
        width: 45px;
        height: 5px;
        background: white;
        border-radius: 10px;
    }
    
    .header-nav-mobile img {
        width: 162.5px;
        height: 66.5px;
        cursor: pointer;
    }
    
    nav {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        width: 100vw;
        max-width: 1280px;
    }
    
    nav ul img {
        width: 162.5px;
        height: 66.5px;
        margin-right: 100px;
        cursor: pointer;
    }
    
    nav ul li {
        list-style: none;
        transition: all .5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav ul li:hover a {
        box-shadow: inset 0 0 0 25px #e50045;
    }
    
    nav ul li:nth-of-type(4) a {
        border-right: none;
    }
    
    nav ul li a {
        padding-left: 25px;
        padding-right: 25px;
        font-family: 'Muli', sans-serif;
        color: white;
        font-size: 16px;
        text-decoration: none;
        border-right: 4px solid #e50045;
        transition: all 0.5s;
    }
    
    header {
        height: 734.5px;
        width: 100vw;
        max-width: 100%;
        background: url('images/background_header.png')center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container-fluid-header-content {
        width: 100vw;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-fluid-header-content img {
        width: 106px;
        height: 106px;
    }
    
    .container-fluid-header-content-logo {
        font-family: 'Muli', sans-serif;
        color: white;
        position: relative;
    }
    
    .container-fluid-header-content-logo p:nth-of-type(1) {
        position: absolute;
        left: 50%;
        top: 42.5px;
        font-size: 44px;
        line-height: 70%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
        transform: translateX(-50%);
    }
    
    .container-fluid-header-content-logo p:nth-of-type(2) {
        position: absolute;
        left: 50%;
        top: 80px;
        font-size: 35px;
        line-height: 70%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
        transform: translateX(-50%);
    }
    
    .container-fluid-header-content-logo img {
        width: 790px;
        height: 404px;
    }
    
    .container-fluid-sections-all {
        /*height: 1250px;*/
        height: auto;
        min-height: 1208.5px;
        width: 100vw;
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 77.5px;
        background: url('images/left-line.png'), url('images/background_footer.png'), url('images/right-line.png');
        background-position: left 110px, right bottom, right bottom;
        background-repeat: no-repeat;
        background-size: 538px 1098.5px, 1479.5px 1284.5px, 726.5px 1008.5px;
    }
    
    .container-fluid-meet-me {
        padding-left: 192.5px;
        padding-top: 16px;
        width: 100vw;
        max-width: 1280px;
        height: auto;
        min-height: 280px;
        background: url('images/digit-one.png');
        background-size: 122px 233px;
        background-position: left top;
        background-repeat: no-repeat;
    }
    
    .container-fluid-meet-me p {
        font-family: 'Muli', sans-serif;
    }
    
    .container-fluid-meet-me p:nth-of-type(1) {
        font-size: 77.5px;
        line-height: 70%;
        margin: 0 0 31.5px 0;
    }
    
    .container-fluid-meet-me p:nth-of-type(2) {
        font-size: 14.5px;
    }
    
    .container-fluid-offert {
        padding-top: 16px;
        padding-right: 175px;
        width: 100vw;
        max-width: 1280px;
        height: auto;
        min-height: 280px;
        background: url('images/digit-two.png');
        background-size: 162.5px 236.5px;
        background-position: right top;
        background-repeat: no-repeat;
    }
    
    .container-fluid-offert p {
        font-family: 'Muli', sans-serif;
        text-align: right;
    }
    
    .container-fluid-offert p:nth-of-type(1) {
        font-size: 77.5px;
        line-height: 70%;
        margin-bottom: 35px;
    }
    
    .container-fluid-offert p:nth-of-type(2) {
        font-size: 14.5px;
    }
    
    .container-fluid-device {
        padding: 20px 0 0 200px;
        width: 100vw;
        max-width: 1280px;
        height: auto;
        min-height: 477.5px;
        background: url('images/digit-three.png');
        background-size: 167.5px 240.5px;
        background-position: left top;
        background-repeat: no-repeat;
    }
    
    .container-fluid-device ul {
        margin-bottom: 24px;
    }
    
    .container-fluid-device ul li {
        list-style: none;
        font-family: 'Muli', sans-serif;
        font-size: 14.5px;
    }
    
    .container-fluid-device p:nth-of-type(1) {
        font-family: 'Muli', sans-serif;
        font-size: 77.5px;
        line-height: 70%;
        margin-bottom: 31px;
    }
    
    .container-fluid-device p:nth-of-type(2) {
        font-family: 'Muli', sans-serif;
        font-size: 14.5px;
        margin-bottom: 20px;
    }
    
    .container-fluid-device p:nth-of-type(3) {
        font-family: 'Muli', sans-serif;
        font-size: 14.5px;
        color: #e50045;
    }
    
    .container-fluid-contact {
        width: 100vw;
        max-width: 1280px;
        height: auto;
        padding-left: 222px;
    }
    
    .container-fluid-contact p {
        color: #e50045;
        font-size: 77.5px;
        line-height: 70%;
        font-family: 'Muli', sans-serif;
        margin-bottom: 65px;
    }
    
    .container-fluid-contact form {
        width: 100%;
        height: 235px;
        display: flex;
        flex-direction: row;
    }
    
    .container-fluid-contact form .form-left {
        display: flex;
        flex-direction: column;
        color: #000000;
        font-family: 'Muli', sans-serif;
        font-size: 14.5px;
        margin-right: 135.5px;
    }
    
    .form-left label {
        margin-bottom: 20px;
    }
    
    .form-left input {
        width: 415px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #000001;
        margin-bottom: 38px;
    }
    
    .form-left p {
        font-size: 14px;
        position: relative;
        left: initial;
        line-height: initial;
        font-family: 'Muli', sans-serif;
        font-size: 16.5px;
        margin-bottom: initial;
    }
    
    .container-fluid-contact form .form-right {
        display: flex;
        flex-direction: column;
        color: #000000;
        font-family: 'Muli', sans-serif;
        font-size: 14.5px;
    }
    
    .form-right textarea {
        resize: none;
        width: 357px;
        height: 95px;
        border-radius: 10px;
        border: 1px solid #000001;
        background: #f6f6f6;
        margin-bottom: 25px;
        margin-top: 33px;
    }
    
    .form-right button {
        width: 128px;
        height: 40px;
        border-radius: 15px;
        cursor: pointer;
        border: none;
        border: 1px solid #e50045;
        color: #e50045;
        background: transparent;
        font-family: 'Muli', sans-serif;
        font-size: 14.5px;
        transition: all .5s;
    }
    
    .form-right button:hover {
        background: #e50045;
        color: white;
    }
    
    footer {
        width: 100vw;
        max-width: 1280px;
        height: 673px;
    }
    
    footer img {
        position: relative;
        left: 222px;
    }
    
    .active {
        display: block;
    }
    
    @media only screen and (max-width: 768px) {
        .header-nav {
            background: transparent;
        }
        .header-nav-mobile {
            display: block;
            background: black;
        }
        .header-nav-mobile img {
            width: 122px;
            height: 50px;
            margin-left: 10px;
        }
        .header-nav-mobile button {
            right: 10px;
            top: 0;
            width: 50px;
            height: 50px;
            background: transparent;
            border: none;
        }
        .header-nav-mobile button:focus {
            outline: none;
        }
        nav {
            display: none;
            background: black;
            opacity: .8;
        }
        nav ul {
            flex-direction: column;
        }
        nav a img {
            display: none;
        }
        nav ul li {
            width: 100%;
            background: black;
            border-bottom: 1px solid #e50045;
        }
        nav ul li a {
            border: none;
        }
        header {
            height: 100vh;
        }
        .container-fluid-sections-all {
            background-size: 538px 1098.5px, 1000px 868px, 726.5px 1008.5px;
        }
        .container-fluid-header-content-logo img {
            width: 100vw;
            height: 200px;
        }
        .container-fluid-header-content-logo p:nth-of-type(1) {
            top: -60px;
        }
        .container-fluid-header-content-logo p:nth-of-type(2) {
            top: -20px;
            text-align: center;
            line-height: 100%;
        }
        .container-fluid-header-content {
            height: 100vh;
            justify-content: space-around;
        }
        .container-fluid-meet-me {
            padding-left: 20px;
            background-size: 90px 172px;
        }
        .container-fluid-meet-me p:nth-of-type(1) {
            margin: 0 0 31.5px 75px;
            font-size: 32px;
            line-height: 100%;
        }
        .container-fluid-offert {
            padding-left: 20px;
            padding-right: initial;
            background-size: 130px 189px;
        }
        .container-fluid-offert p:nth-of-type(1) {
            font-size: 32px;
            line-height: 100%;
            text-align: left;
        }
        .container-fluid-offert p:nth-of-type(2) {
            text-align: left;
        }
        .container-fluid-device {
            padding: 20px 20px 0 20px;
            background-size: 130px 187px;
        }
        .container-fluid-device p:nth-of-type(1) {
            font-size: 32px;
            line-height: 100%;
            text-align: right;
        }
        .container-fluid-contact {
            padding-left: initial;
            padding-top: 30px;
        }
        .container-fluid-contact p {
            font-size: 38px;
            margin-left: 20px;
        }
        .container-fluid-contact form .form-right {
            padding-left: 5vw;
        }
        .container-fluid-contact form .form-left {
            margin-right: initial;
            padding-left: 5vw;
        }
        .container-fluid-contact form .form-left p {
            margin-left: 0px;
            font-size: 14.5px;
        }
        .container-fluid-contact form {
            height: auto;
            min-height: 235px;
            flex-direction: column;
        }
        .form-left input {
            width: 90vw;
        }
        .form-right textarea {
            width: 90vw;
        }
        footer {
            padding-left: 20px;
        }
        footer img {
            left: 0;
        }
    }
    
    @media only screen and (max-width: 768px) and (orientation:landscape) {
        .container-fluid-header-content-logo p:nth-of-type(1) {
            top: 0;
            font-size: 40px;
        }
        .container-fluid-header-content-logo p:nth-of-type(2) {
            top: 30px;
            font-size: 30px;
        }
        .container-fluid-header-content {
            padding-top: 50px;
        }
        .container-fluid-header-content img {
            width: 75px;
            height: 75px;
        }
        .container-fluid-header-content-logo img {
            width: 60vw;
            height: auto;
        }
    }